{% load static %}

<div class="border border-base-300 bg-base-100 shadow-lg rounded-2xl overflow-hidden">
    <figure>
        <img src="{{ article.image.url }}"
             alt="{{ article.name }}"
             class="w-full aspect-3/2 object-cover rounded-t-2xl"
             onerror="this.onerror=null; this.src='{% static 'img/stub/news.webp' %}';"
        >
    </figure>
    <div class="p-4">
        <h2 class="text-xl font-semibold text-base-content/80">{{ article.name }}</h2>
        {% autoescape off %}
        <p class="mt-2 text-base-content/60">{{ article.short_content }}</p>
        {% endautoescape %}

        <div class="mt-4 flex justify-between items-center">
            <span class="text-sm text-base-content/40">{{ article.created_at|date:"d.m.Y" }}</span>
            <a href="{% url 'news_detail' article.id %}" class="btn btn-primary tn-sm">Подробнее</a>
        </div>
    </div>
</div>