{% extends 'layout.html' %}
{% load static %}
{% load cache %}


{% block title %}Оформление заказа{% endblock title %}


{% block header %}
    {% cache 500 header request.user items_count subtotal delivery_price %}
    <c-header :items_count="items_count" :subtotal="subtotal" :delivery_price="delivery_price"/>
    {% endcache %}
{% endblock header %}


{% block content %}
    <div class="flex-grow">
        <section class="container mx-auto max-w-[1200px] py-5 lg:flex lg:flex-row lg:py-10">
            <h2 class="mx-auto px-5 text-2xl font-bold md:hidden">Заполните адрес доставки</h2>
            <!-- form  -->
            <section class="grid w-full max-w-[1200px] grid-cols-1 gap-3 px-5 pb-10">
                <table class="hidden lg:table w-full">
                    <thead class="h-16 bg-base-200">
                    <tr>
                        <th class="bg-warning text-warning-content w-1/2">АДРЕС ДОСТАВКИ</th>
                        <th class="bg-base-300 text-base-content w-1/2">ОБЗОР ЗАКАЗА</th>
                    </tr>
                    </thead>
                </table>

                <div class="py-5">
                    <form class="flex w-full flex-col gap-3" method="POST">
                        {% csrf_token %}
                        <div class="md:flex w-full md:justify-between md:gap-2">
                            <div class="flex flex-col w-full md:w-1/2 mb-3 md:mb-0">
                                <label class="flex" for="{{ form.full_name.id_for_label }}">
                                    Полное имя<span class="text-error">*</span>
                                </label>
                                {{ form.full_name }}
                                {% if form.full_name.errors %}
                                    <p class="text-error text-sm">{{ form.full_name.errors.0 }}</p>
                                {% endif %}
                            </div>
                            <div class="flex flex-col w-full md:w-1/2">
                                <label for="{{ form.email.id_for_label }}">
                                    Электронная почта<span class="text-error">*</span>
                                </label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <p class="text-error text-sm">{{ form.email.errors.0 }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="md:flex w-full md:justify-between md:gap-2">
                            <div class="flex flex-col w-full md:w-1/2 mb-3 md:mb-0">
                                <label for="{{ form.address.id_for_label }}">
                                    Адрес<span class="text-error">*</span>
                                </label>
                                {{ form.address }}
                                {% if form.address.errors %}
                                    <p class="text-error text-sm">{{ form.address.errors.0 }}</p>
                                {% endif %}
                            </div>
                            <div class="flex flex-col w-full md:w-1/2">
                                <label for="{{ form.city.id_for_label }}">
                                    Город<span class="text-error">*</span>
                                </label>
                                {{ form.city }}
                                {% if form.city.errors %}
                                    <p class="text-error text-sm">{{ form.city.errors.0 }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="md:flex w-full md:justify-between md:gap-2">
                            <div class="flex flex-col w-full md:w-1/2 mb-3 md:mb-0">
                                <label for="{{ form.zip_code.id_for_label }}">
                                    Индекс<span class="text-error">*</span>
                                </label>
                                {{ form.zip_code }}
                                {% if form.zip_code.errors %}
                                    <p class="text-error text-sm">{{ form.zip_code.errors.0 }}</p>
                                {% endif %}
                            </div>
                            <div class="flex flex-col w-full md:w-1/2">
                                <label for="{{ form.recipient.id_for_label }}">
                                    Получатель<span class="text-error">*</span>
                                </label>
                                {{ form.recipient }}
                                {% if form.recipient.errors %}
                                    <p class="text-error text-sm">{{ form.recipient.errors.0 }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.comment.id_for_label }}">Комментарий к заказу</label>
                            {{ form.comment }}
                            {% if form.comment.errors %}
                                <p class="text-error text-sm">{{ form.comment.errors.0 }}</p>
                            {% endif %}
                        </div>
                        {% if form.non_field_errors %}
                            <div class="text-error text-sm">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="w-full my-5 flex items-center justify-between">
                            <a href="{% url 'products-list' %}" class="text-sm text-primary">&larr; Назад в магазин</a>
                            <button type="submit" class="btn btn-warning px-6">Продолжить</button>
                        </div>
                    </form>
                </div>
            </section>
            <!-- /form  -->
            <!-- Summary  -->
            <section id="cart_summary" class="mx-auto w-full px-4 md:max-w-[400px]">
                <div class="border py-5 px-4 shadow-md">
                    <p class="font-bold">Сумма заказа</p>
                    <c-summary-total :total="total" :delivery="delivery_price"/>
                </div>
            </section>
        </section>
        <!-- /Summary -->
        <!-- Cons bages -->
        {% include  "partial/cons_bages.html" %}
        <!-- /Cons bages  -->
    </div>

{% endblock %}
