{% extends 'layout.html' %}
{% load static %}
{% load cache %}


{% block title %}Обзор заказа{% endblock title %}


{% block header %}
    {% cache 500 header request.user items_count subtotal delivery_price %}
    <c-header :items_count="items_count" :subtotal="subtotal" :delivery_price="delivery_price"/>
    {% endcache %}
{% endblock header %}


{% block content %}

    <div class="flex-grow">
        <section class="container mx-auto max-w-[1200px] py-5 lg:flex lg:flex-row lg:py-10">
            <h2 class="mx-auto px-5 text-2xl font-bold md:hidden">
                Обзор заказа
            </h2>
            <!-- form  -->
            <section class="grid w-full max-w-[1200px] grid-cols-1 gap-3 px-5 pb-10">
                <table class="hidden lg:table w-full">
                    <thead class="h-16 bg-base-200">
                    <tr>
                        <th class="bg-base-300 text-base-content w-1/2">АДРЕС ДОСТАВКИ</th>
                        <th class="bg-warning text-warning-content w-1/2">ОБЗОР ЗАКАЗА</th>
                    </tr>
                    </thead>
                </table>


                <table class="table table-zebra">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th class="text-right">Цена</th>
                        <th class="text-center"> Количество</th>
                        <th class="text-right">Итого</th>
                    </tr>
                    </thead>
                    <!-- table body -->
                    <tbody>
                    <!-- table rows -->
                    {% for item in cart_items %}
                        <tr id="{{ item.id }}">
                            <c-item :item = "cart_item" />
                        </tr>
                    {% endfor %}
                    </tbody>
                    <!-- table footer -->
                    <tfoot>
                    <tr>
                        <th>Товар</th>
                        <th class="text-right">Цена</th>
                        <th class="text-center"> Количество</th>
                        <th class="text-right">Итого</th>
                    </tr>
                    </tfoot>
                </table>
                <div class="w-full my-5 flex items-center justify-between">
                    <a href="{% url 'products-list' %}" class="text-sm text-primary">&larr; Назад в магазин</a>
                    <div class="flex gap-4">
                        <a type="button" href="{% url 'cart-checkout' %}" class="btn btn-warning px-6">&nbsp;&nbsp;&nbsp;&nbsp;Назад&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="{% url 'cart-review' %}" class="btn btn-success px-6">Оформить</a>
                    </div>
                </div>

            </section>
            <!-- /form  -->

            <!-- Summary  -->
            <section id="cart_summary" class="mx-auto w-full px-4 md:max-w-[400px]">
                <div class="border py-5 px-4 shadow-md">
                    <p class="font-bold">Сумма заказа</p>
                    <c-summary-total :total="total" :delivery="delivery_price"/>
                </div>
            </section>
        </section>
        <!-- /Summary -->

        <!-- Cons bages -->
        {% include  "partial/cons_bages.html" %}
        <!-- /Cons bages  -->
    </div>

{% endblock content %}
