{% extends 'layout.html' %}
{% load static %}
{% load cache %}


{% block title %}{{ product.name }}{% endblock title %}

{% block header %}
    {% cache 500 header request.user items_count subtotal delivery_price %}
    <c-header :items_count="items_count" :subtotal="subtotal" :delivery_price="delivery_price"/>
    {% endcache %}
{% endblock header %}


{% block content %}
<section class="container flex-grow mx-auto max-w-[1200px] border-b py-5 lg:grid lg:grid-cols-2 lg:py-10">
    <!-- image gallery -->
    <div class="container mx-auto px-4">

        <div class="carousel w-full">
            <div id="item1" class="carousel-item w-full">
                <img src="{{ product.image.url }}"
                     alt="{{ product.name }}"
                     class="w-full aspect-3/2 object-cover"
                     onerror="this.onerror=null; this.src='{% static 'img/stub/shopping.webp' %}';"
                />
            </div>
            {% for image in additional_images %}
                <div id="item{{ forloop.counter|add:1 }}" class="carousel-item w-full">
                    <img src="{{ image.image.url }}"
                         alt="Дополнительное изображение {{ forloop.counter }}"
                         class="w-full aspect-3/2 object-cover"
                         onerror="this.onerror=null; this.src='{% static 'img/stub/shopping.webp' %}';"
                         loading="lazy"
                    />
                </div>
            {% endfor %}
        </div>

        <div class="flex w-full justify-center gap-2 py-2">
            <button onclick="changeSlide(1)" class="btn btn-xs">1</button>
            {% for image in additional_images %}
                <button onclick="changeSlide({{ forloop.counter|add:1 }})"
                        class="btn btn-xs">{{ forloop.counter|add:1 }}</button>
            {% endfor %}
        </div>

        <script>
            function changeSlide(index) {
                document.querySelector('.carousel').scrollTo({
                    left: document.getElementById('item' + index).offsetLeft,
                    behavior: 'smooth'
                });
            }
        </script>

        <!-- /image gallery  -->
    </div>

    <!-- description  -->
    <div class="mx-auto px-5 lg:px-5">
        <h2 class="pt-3 text-2xl font-bold lg:pt-0 uppercase">{{ product.name }}</h2>
        <p class="mt-5 font-bold">Наличие: <span class="text-success">На складе</span></p>
        <p class="mt-4 text-4xl font-bold text-primary">₽{{ product.price | floatformat:0 }}</p>


    {% if product.stock != 0 %}
        <div id="product_quantity">
            <div class="mt-6">
                <p class="pb-2 text-xs text-gray-500">Количество</p>
                <div id="product_quantity" class="flex">
                    <a hx-get="{% url 'product_decrement' product.id quantity %}"
                       hx-target="#product_quantity"
                       hx-swap="morph:outerHTML"
                       class="flex h-8 w-8 cursor-pointer items-center justify-center border duration-100 hover:bg-neutral-100 focus:ring-2 focus:ring-gray-500 active:ring-2 active:ring-gray-500">
                        &minus;
                    </a>
                    <div class="flex h-8 w-8 cursor-text items-center justify-center border-t border-b active:ring-gray-500">
                        {{ quantity }}
                    </div>
                    <a hx-get="{% url 'product_increment' product.id quantity %}"
                       hx-target="#product_quantity"
                       hx-swap="morph:outerHTML"
                       class="flex h-8 w-8 cursor-pointer items-center justify-center border duration-100 hover:bg-neutral-100 focus:ring-2 focus:ring-gray-500 active:ring-2 active:ring-gray-500">
                        &#43;
                    </a>
                </div>
            </div>

            <div class="mt-7 flex flex-row items-center gap-6">
                <a href="{% url 'add_to_cart' product.id %}?quantity={{ quantity }}"
                   class="btn btn-primary h-12 justify-center" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="mr-3 h-4 w-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                    </svg>
                    Добавить в корзину
                </a>
            </div>
        </div>
        {% else %}
        <div class="mt-6">
            <p class="mt-0.5 font-bold text-error">Товара нет в наличии</p>
        </div>
        {% endif %}

    </div>
</section>

<!-- product details  -->

<section class="container mx-auto max-w-[1200px] px-5 py-5 lg:py-10">
    <h2 class="text-xl">Описание товара</h2>
    <p class="mt-4 lg:w-3/4">
        {{ product.description }}
    </p>
</section>
<!-- /product details  -->

<!-- /description  -->

<p class="mx-auto mt-10 mb-5 max-w-[1200px] px-5">НОВЫЕ ТОВАРЫ</p>

<!-- Recommendations -->
<section class="container mx-auto grid max-w-[1200px] grid-cols-2 gap-3 px-5 pb-10 lg:grid-cols-4">
    {% for item in filtered_items %}
        <div class="relative flex flex-col">
            <div class="absolute flex h-1/2 w-full justify-center gap-3 pt-16 opacity-0 duration-150 hover:opacity-100">

                <a href="{% url 'product_detail'  item.id %}">
                    <span class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-amber-400">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
              >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </span>
                </a>

            </div>
            <img
                    class="aspect-3/2 object-cover"
                    src="{{ item.image.url }}"
                    alt="{{ item.name }}"
                    onerror="this.onerror=null; this.src='{% static 'img/stub/shopping.webp' %}';"
            />

            <div>
                <p class="mt-2 uppercase">{{ item.name }}</p>
                <p class="font-medium text-primary">
                    ₽{{ item.price | floatformat:0 }}
                </p>

                <div>
                    <a class="btn btn-primary w-full my-5" href="{% url 'add_to_cart' item.id %}">В корзину</a>
                </div>
            </div>
        </div>
    {% endfor %}

</section>
<!-- /Recommendations -->


{% endblock content %}


