{# Usage:                                                       #}
{# <c-input.last_name id="{{ form.last_name.id_for_label }}"        #}
{#               name="{{ form.last_name.html_name }}"         #}
{#               value="{{ form.last_name.value|default:'' }}" #}
{#               placeholder="Type here"                        #}
{#               :errors = "form.first_name.errors"             #}
{# />                                                           #}

<!-- First Name -->
<legend class="fieldset-legend">Фамилия</legend>
<input type="text" class="input w-full" {{ attrs }}/>
{% if form.first_name.errors %}
    <p class="validator-hint text-error text-sm">{{ errors|striptags }}</p>
{% endif %}
