{% extends 'layout.html' %}
{% load static %}
{% load cache %}

{% block title %}Главная{% endblock title %}


{% block header %}
    {% cache 500 header request.user items_count subtotal delivery_price %}
        <c-header :items_count="items_count" :subtotal="subtotal" :delivery_price="delivery_price"/>
    {% endcache %}
{% endblock header %}


{% block content %}
    {% cache 500 content news %}
    <c-hero image="{% static 'img/hero.webp' %}">
        <h1 class="mb-5 text-4xl font-bold sm:text-5xl lg:text-left">Easy-Parking - сервис автоматизации платного паркинга.
        </h1>
        <p class="mb-5 pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-left lg:text-base">
            ‌Наша разработка направлена на решение проблемы постановки и снятия с платной парковки.
            Пользователь может не волноваться о том, что парковочная сессия не будет запущена, а его автомобиль будет эвакуирован, за счет установки блока телематики в автомобиль.
        </p>
        <a href="{% url 'products' %}" class="btn btn-warning lg:w-2/12 lg:px-10">К покупкам</a>
    </c-hero>

    <div class="container mx-auto p-6 mb-6">
        <h1 class="text-4xl font-bold text-left my-5">Последние новости:</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for item in news %}
                <c-news.card_short :article="item"/>
            {% endfor %}
        </div>
    </div>
    {% endcache %}
{% endblock content %}

