<div id="product_quantity">
    <div class="mt-6">
        <p class="pb-2 text-xs text-gray-500">Количество</p>
        <div id="product_quantity" class="flex">
            <a hx-patch="{% url 'product-decrement' product.id quantity %}"
               hx-target="#product_quantity"
               hx-swap="morph:outerHTML"
               class="flex h-8 w-8 cursor-pointer items-center justify-center border duration-100 hover:bg-neutral-100 dark:hover:bg-neutral-500 focus:ring-2 focus:ring-gray-500 active:ring-2 active:ring-gray-500">
                &minus;
            </a>
            <div id="qty" class="flex h-8 w-8 cursor-text items-center justify-center border-t border-b active:ring-gray-500">
                {{ quantity }}
            </div>
            <a hx-patch="{% url 'product-increment' product.id quantity %}"
               hx-target="#product_quantity"
               hx-swap="morph:outerHTML"
               class="flex h-8 w-8 cursor-pointer items-center justify-center border duration-100 hover:bg-neutral-100 dark:hover:bg-neutral-500 focus:ring-2 focus:ring-gray-500 active:ring-2 active:ring-gray-500">
                &#43;
            </a>
        </div>
    </div>

    <div class="mt-7 flex flex-row items-center gap-6">
        <form action="{% url 'create-basket-item' product.id quantity %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary h-12 justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-3 h-4 w-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                </svg>
                Добавить в корзину
            </button>
        </form>
    </div>
</div>
